body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: #221111;
}

main {
    padding: 4px
}

/* Inicio Estilos do Cabeçalho */

header {
    background: #382929;
    border-bottom: 1px solid #382929;
    padding: 16px 0;
}

footer {
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: #261C1C;
    margin: 24px 0 0 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
}

.nav-links a:hover {
    border-bottom: 1px solid #f2f2f2;
}

.nav-links a.active {
    border-bottom: 1px solid #f2f2f2;
}

.logo {
    width: 5rem;
    height: 3rem;
    margin-left: 16px;
}

#linkGerenciamento {
  display: none;
}

/* Estilo de LogOut */

#logout {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 15px; 
  background-color: #523D3D;
}

#logout:hover {
  background-color: #D42A2A;
  color: white; 
  cursor: pointer;
}

/* Responsividade */

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .logo {
        margin-bottom: 16px;
        margin-left: 0;
        height: 80px;
    }
    .nav-links {
        width: 100%;
        justify-content: flex-start;
        gap: 8px;
    }
    .nav-links a {
        padding: 8px 8px;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .logo {
        height: 60px;
    }
    header {
        padding: 8px 0;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .nav-links a {
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        border-bottom: 1px solid #333;
    }
    .nav-links a:last-child {
        border-bottom: none;
    }
}

/* Fim Responsividade */