main {
    padding: 4px
} 

.prioridadeAlta, .prioridadeMedia, .prioridadeBaixa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.prioridadeAlta {
    height: 52vh;
}

.prioridadeMedia {
    height: 35vh;
}

.prioridadeAlta img, .alarmes {
    width: 58em;
    padding: 0 4px;
}

.prioridadeMedia img {
    width: 32%;
    padding: 0 4px;
}

.prioridadeBaixa img {
    width: 24%;
    padding: 0 4px;
}

.alarmes {
    display: flex;
    flex-direction: column;
    background-color: #3f3d3d;
    overflow: auto;
}

.tituloAlarmes {
    align-self: flex-start;
    position: sticky;
}

.alarme {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 97%;
    background-color: #E03838;
    padding: 4px 10px;
    border-radius: 2px;
    margin-bottom: 4px;
}

#logout {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 15px; 
  background-color: #523D3D;
}

#logout:hover {
  background-color: #D42A2A;
  color: white; 
  cursor: pointer;
}