.tabelaLog {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px; 
  overflow: hidden;
  border: 1px solid #201f1f;
}

.tabelaLog thead tr {
  background: #201f1f;
  color: #fff;
}

.tabelaLog th {
  padding: 16px;
  text-align: center;
}

.tabelaLog tbody tr {
  background: #2b2a2b;
  color: #fff;
}

.tabelaLog td {
  padding: 16px;
  border-top: 1px solid #201f1f;
  text-align: center;
}

.tabelaLog tbody tr:last-child {
  border-bottom: none;
}


/* Responsividade básica */

/* @media (max-width: 900px) {
    main {
        padding: 8px;
    }
    .boxEscura,
    .boxClara {
        flex-direction: column;
        align-items: flex-start;
        padding: 12px;
        margin: 8px;
    }
}

@media (max-width: 600px) {
    h1,
    h3 {
        font-size: 1.2em;
    }
    .boxEscura,
    .boxClara {
        font-size: 14px;
        padding: 8px;
    }
    footer {
        font-size: 13px;
        text-align: center;
    }
} */